## Day 019 作業：DataFrame 的排序及顯示

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/區域的累計確診人數。

請依確診案例數，列出截至4月2日為止 (UTC 時間)，確診案例最多的10個國家/區域。

In [2]:
using DataFrames, CSV

In [3]:
df = CSV.read("04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

In [4]:
show(df, allcols=true)

2569×12 DataFrame
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

│ Row  │ Last_Update         │ Lat      │ Long_    │ Confirmed │ Deaths │
│      │ String              │ Float64⍰ │ Float64⍰ │ Int64     │ Int64  │
├──────┼─────────────────────┼──────────┼──────────┼───────────┼────────┤
│ 1    │ 2020-04-02 23:25:27 │ 34.2233  │ -82.4617 │ 6         │ 0      │
│ 2    │ 2020-04-02 23:25:27 │ 30.2951  │ -92.4142 │ 61        │ 1      │
│ 3    │ 2020-04-02 23:25:27 │ 37.7671  │ -75.6323 │ 10        │ 0      │
│ 4    │ 2020-04-02 23:25:27 │ 43.4527  │ -116.242 │ 312       │ 3      │
│ 5    │ 2020-04-02 23:25:27 │ 41.3308  │ -94.4711 │ 1         │ 0      │
│ 6    │ 2020-04-02 23:25:27 │ 40.1906  │ -92.6008 │ 6         │ 0      │
│ 7    │ 2020-04-02 23:25:27 │ 35.8849  │ -94.6586 │ 9         │ 0      │
│ 8    │ 2020-04-02 23:25:27 │ 39.8743  │ -104.336 │ 212       │ 2      │
│ 9    │ 2020-04-02 23:25:27 │ 44.8933  │ -116.455 │ 1         │ 0      │
│ 10   │ 2020-04-02 23:25:27 │ 39.9882  │ -91.1879 │ 2         │ 0      │
⋮
│ 2559 │ 2020-04-02 23:25:14 │ 48.3794  │ 31.1656  │ 897       │ 22     │
│ 2560 │ 2020-04-02 23:25:14 │ 23.4241  │ 53.8478  │ 1024      │ 8      │
│ 2561 │ 2020-04-02 23:25:14 │ 55.3781  │ -3.436   │ 33718     │ 2921   │
│ 2562 │ 2020-04-02 23:25:14 │ -32.5228 │ -55.7658 │ 350       │ 4      │
│ 2563 │ 2020-04-02 23:25:14 │ 41.3775  │ 64.5853  │ 205       │ 2      │
│ 2564 │ 2020-04-02 23:25:14 │ 6.4238   │ -66.5897 │ 146       │ 5      │
│ 2565 │ 2020-04-02 23:25:14 │ 14.0583  │ 108.277  │ 233       │ 0      │
│ 2566 │ 2020-04-02 23:25:14 │ 31.9522  │ 35.2332  │ 161       │ 1      │
│ 2567 │ 2020-04-02 23:25:14 │ -13.1339 │ 27.8493  │ 39        │ 1      │
│ 2568 │ 2020-04-02 23:25:14 │ -19.0154 │ 29.1549  │ 9         │ 1      │
│ 2569 │ 2020-04-02 23:25:27 │ missing  │ missing  │ 0         │ 0      │

│ Row  │ Recovered │ Active │ Combined_Key                  │
│      │ Int64     │ Int64  │ String                        │
├──────┼───────────┼────────┼───────────────────────────────┤
│ 1    │ 0         │ 0      │ Abbeville, South Carolina, US │
│ 2    │ 0         │ 0      │ Acadia, Louisiana, US         │
│ 3    │ 0         │ 0      │ Accomack, Virginia, US        │
│ 4    │ 0         │ 0      │ Ada, Idaho, US                │
│ 5    │ 0         │ 0      │ Adair, Iowa, US               │
│ 6    │ 0         │ 0      │ Adair, Missouri, US           │
│ 7    │ 0         │ 0      │ Adair, Oklahoma, US           │
│ 8    │ 0         │ 0      │ Adams, Colorado, US           │
│ 9    │ 0         │ 0      │ Adams,Idaho,US                │
│ 10   │ 0         │ 0      │ Adams, Illinois, US           │
⋮
│ 2559 │ 19        │ 856    │ Ukraine                       │
│ 2560 │ 96        │ 920    │ United Arab Emirates          │
│ 2561 │ 135       │ 30662  │ United Kingdom                │
│ 2562 │ 62        │ 284    │ Uruguay                       │
│ 2563 │ 25        │ 178    │ Uzbekistan                    │
│ 2564 │ 43        │ 98     │ Venezuela                     │
│ 2565 │ 75        │ 158    │ Vietnam                       │
│ 2566 │ 18        │ 142    │ West Bank and Gaza            │
│ 2567 │ 0         │ 38     │ Zambia                        │
│ 2568 │ 0         │ 8      │ Zimbabwe                      │
│ 2569 │ 0         │ 0      │ unassigned, Wyoming, US       │

In [11]:
# 請在此輸入程式碼
confirmedDF = by(df, :Country_Region, :Confirmed => sum);
sort(confirmedDF, :Confirmed_sum, rev=true);
first(confirmedDF, 10)

10×2 DataFrame
│ Row │ Country_Region │ Confirmed_sum │
│     │ String         │ Int64         │
├─────┼────────────────┼───────────────┤
│ 1   │ US             │ 243453        │
│ 2   │ Canada         │ 11284         │
│ 3   │ United Kingdom │ 34173         │
│ 4   │ China          │ 82432         │
│ 5   │ Netherlands    │ 14788         │
│ 6   │ Australia      │ 5116          │
│ 7   │ Denmark        │ 3573          │
│ 8   │ France         │ 59929         │
│ 9   │ Afghanistan    │ 273           │
│ 10  │ Albania        │ 277           │